body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1{
    font-family:'Lato', sans-serif ;
    font-weight: bolder;
    font-size: 45px;
    color: rgb(37, 38, 40);
    text-align: left;
    letter-spacing: 3px;
}
h2{
    color: rgb(37, 38, 40);
    text-align: center;
}

.card{
    transition: .4s ease;
}
.card:hover{
    transform: scale(1.03);
}

.header img{
    width:25%;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pushBtn{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(125, 178, 225);
    color: white;
    box-shadow:  0px 4px 8px 5px rgba(97, 156, 207, 0.338);
    margin: 10px;
    padding: 12px;
    transition: .3s ease;
}

.pushBtn:hover{
    transform: scale(1.05);
}

.alumnos{
    font-size: 30px;
}
.classroom-container{
    background-color: rgb(241, 249, 255);
    border-radius: 15px;
    width: 98%;
    margin: auto;
}

.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

table {
    background-color: rgb(227, 238, 255);
    border-radius: 15px;
    margin-top: 20px;
    border-collapse: collapse;
}

td, th{
    border: 1px solid rgba(169, 169, 169, 0.685);
    text-align: center;
    padding: 8px;
}


td{
    background-color: rgb(244, 250, 255);
}

.error{
    outline: 1px solid red;
}  

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .form-switch input { display: none; }
  
  .form-switch input:checked + i { background-color: #4BD763; }
  
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

